etl/m2mbi-etl/pipeline/pl_extract.json
{
	"name": "pl_extract",
	"properties": {
		"activities": [
			{
				"name": "Read Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "@pipeline().parameters.extract_sp",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dynamic_tbl",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.targetdbschema",
								"type": "Expression"
							},
							"table": "placeholder",
							"database": {
								"value": "@pipeline().parameters.targetdbname",
								"type": "Expression"
							},
							"dbservername": {
								"value": "@pipeline().parameters.servername",
								"type": "Expression"
							},
							"username": {
								"value": "@pipeline().parameters.username",
								"type": "Expression"
							},
							"password": {
								"value": "@pipeline().parameters.password",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop through metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read Metadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyToStagingTable",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetPackageExecutionLogId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "MGT_InsertBatchRunId",
											"value": "200"
										},
										{
											"name": "MGT_InsertDate",
											"value": {
												"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy')",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "@{item().src_extract_query}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{item().tgt_truncate_query}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"validateDataConsistency": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": false,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_dynamic_tbl",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@{item().src_schema}",
											"type": "Expression"
										},
										"table": "@{item().src_tbl}",
										"database": "@{item().src_db}",
										"dbservername": {
											"value": "@pipeline().parameters.servername",
											"type": "Expression"
										},
										"username": {
											"value": "@pipeline().parameters.username",
											"type": "Expression"
										},
										"password": {
											"value": "@pipeline().parameters.password",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dynamic_tbl",
									"type": "DatasetReference",
									"parameters": {
										"schema": "@{item().tgt_schema}",
										"table": "@{item().tgt_tbl}",
										"database": "@{item().tgt_db}",
										"dbservername": {
											"value": "@pipeline().parameters.servername",
											"type": "Expression"
										},
										"username": {
											"value": "@pipeline().parameters.username",
											"type": "Expression"
										},
										"password": {
											"value": "@pipeline().parameters.password",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "USP_InsertPackageExecutionLog",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_generic",
								"type": "LinkedServiceReference",
								"parameters": {
									"databasename": "dwh_mgt",
									"username": "trp86",
									"password": "Daimler2022",
									"dbservername": "milesdwh.database.windows.net"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "PackageName",
												"type": "String",
												"value": "placeholder",
												"direction": "Input"
											},
											{
												"name": "BatchRunId",
												"type": "Int64",
												"value": "211",
												"direction": "Input"
											},
											{
												"name": "PackageGUID",
												"type": "String",
												"value": "placeholder",
												"direction": "Input"
											},
											{
												"name": "ETLType",
												"type": "String",
												"value": "placeholder",
												"direction": "Input"
											},
											{
												"name": "SSISDBPackageExecutionId",
												"type": "Int64",
												"value": "32",
												"direction": "Input"
											},
											{
												"name": "RC",
												"type": "Int64",
												"value": "45",
												"direction": "Output"
											}
										],
										"type": "Query",
										"text": "\n\nEXECUTE @RC = [Audit].[USP_InsertPackageExecutionLog] \n   @PackageName\n  ,@BatchRunId\n  ,@PackageGUID\n  ,@ETLType\n  ,@SSISDBPackageExecutionId\n\nselect @RC as PackageExecutionLogId"
									}
								]
							}
						},
						{
							"name": "SetPackageExecutionLogId",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "USP_InsertPackageExecutionLog",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "V_PackageExecutionLogId",
								"value": {
									"value": "@string(activity('USP_InsertPackageExecutionLog').output.resultSets[0].rows[0].PackageExecutionLogId)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetPipelineRunId",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "USP_InsertPackageExecutionLog",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_PipelineRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"servername": {
				"type": "string",
				"defaultValue": "milesdwh.database.windows.net"
			},
			"username": {
				"type": "string",
				"defaultValue": "trp86"
			},
			"password": {
				"type": "string",
				"defaultValue": "Daimler2022"
			},
			"sourcedbname": {
				"type": "string",
				"defaultValue": "src"
			},
			"targetdbname": {
				"type": "string",
				"defaultValue": "dwh_stg"
			},
			"sourcedbschema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"targetdbschema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"extract_sp": {
				"type": "string",
				"defaultValue": "dbo.ExtractQueries"
			},
			"sp_InsertPackageExecutionLog": {
				"type": "string",
				"defaultValue": "USP_InsertPackageExecutionLog"
			},
			"mgtdbname": {
				"type": "string",
				"defaultValue": "dwh_mgt"
			},
			"auditschema": {
				"type": "string",
				"defaultValue": "Audit"
			}
		},
		"variables": {
			"x": {
				"type": "String"
			},
			"V_packageexecid": {
				"type": "String",
				"defaultValue": "placeholder"
			},
			"V_PackageExecutionLogId": {
				"type": "String",
				"defaultValue": "placeholder"
			},
			"V_PipelineRunId": {
				"type": "String"
			}
		},
		"annotations": []
	}
}