etl/m2mbi-etl/pipeline/pl_extract.json
{
	"name": "pl_extract",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": {
							"value": "@pipeline().parameters.extract_sp",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dynamic_tbl",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.targetdbschema",
								"type": "Expression"
							},
							"table": "placeholder",
							"database": {
								"value": "@pipeline().parameters.targetdbname",
								"type": "Expression"
							},
							"dbservername": {
								"value": "@pipeline().parameters.servername",
								"type": "Expression"
							},
							"username": {
								"value": "@pipeline().parameters.username",
								"type": "Expression"
							},
							"password": {
								"value": "@pipeline().parameters.password",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"value": "$$COLUMN:"
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_dynamic_tbl",
									"type": "DatasetReference",
									"parameters": {
										"schema": "placeholder",
										"table": "placeholder",
										"database": "placeholder",
										"dbservername": "placeholder",
										"username": "placeholder",
										"password": "placeholder"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dynamic_tbl",
									"type": "DatasetReference",
									"parameters": {
										"schema": "placeholder",
										"table": "placeholder",
										"database": "placeholder",
										"dbservername": "placeholder",
										"username": "placeholder",
										"password": "placeholder"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"servername": {
				"type": "string",
				"defaultValue": "milesdwh1.database.windows.net"
			},
			"username": {
				"type": "string",
				"defaultValue": "trp86"
			},
			"password": {
				"type": "string",
				"defaultValue": "Daimler2022"
			},
			"sourcedbname": {
				"type": "string",
				"defaultValue": "src"
			},
			"targetdbname": {
				"type": "string",
				"defaultValue": "dwh_stg"
			},
			"sourcedbschema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"targetdbschema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"extract_sp": {
				"type": "string",
				"defaultValue": "dbo.ExtractQueries"
			}
		},
		"annotations": []
	}
}