etl/m2mbi-etl/pipeline/pl_error_handling_4.json
{
	"name": "pl_error_handling_4",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": {
						"value": "@int('1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var3",
					"value": {
						"value": "test",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var2",
					"value": {
						"value": "test",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CaptureErrorDetails",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorMessage",
					"value": {
						"value": "@concat(activity('Set variable1')?.Error?.message,\n        '|',\n        activity('Set variable2')?.Error?.message,\n        '|',\n        activity('Set variable3')?.Error?.message)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var1": {
				"type": "String"
			},
			"var2": {
				"type": "String"
			},
			"var3": {
				"type": "String"
			},
			"ErrorMessage": {
				"type": "String"
			}
		},
		"annotations": []
	}
}