etl/m2mbi-etl/pipeline/pl_stored_proc.json
{
	"name": "pl_stored_proc",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_generic",
					"type": "LinkedServiceReference",
					"parameters": {
						"databasename": "dwh_mgt",
						"username": "trp86",
						"password": "Daimler2022",
						"dbservername": "milesdwh.database.windows.net"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "PackageName",
									"type": "String",
									"value": "placeholder",
									"direction": "Input"
								},
								{
									"name": "BatchRunId",
									"type": "Int64",
									"value": "211",
									"direction": "Input"
								},
								{
									"name": "PackageGUID",
									"type": "String",
									"value": "placeholder",
									"direction": "Input"
								},
								{
									"name": "ETLType",
									"type": "String",
									"value": "placeholder",
									"direction": "Input"
								},
								{
									"name": "SSISDBPackageExecutionId",
									"type": "Int64",
									"value": "32",
									"direction": "Input"
								},
								{
									"name": "RC",
									"type": "Int64",
									"value": "45",
									"direction": "Output"
								}
							],
							"type": "Query",
							"text": "\n\nEXECUTE @RC = [Audit].[USP_InsertPackageExecutionLog] \n   @PackageName\n  ,@BatchRunId\n  ,@PackageGUID\n  ,@ETLType\n  ,@SSISDBPackageExecutionId\n\nselect @RC as PackageExecutionLogId\n"
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_PackageExecutionLogId",
					"value": {
						"value": "@string(activity('Script1').output.resultSets[0].rows[0].PackageExecutionLogId)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"V_PackageExecutionLogId": {
				"type": "String",
				"defaultValue": "placeholder"
			}
		},
		"annotations": []
	}
}