df-trp86/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-trp86"
		},
		"ls_generic_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_generic'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "@pipeline().parameters.extract_sp",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_dynamic_tbl",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@pipeline().parameters.targetdbschema",
										"type": "Expression"
									},
									"table": "placeholder",
									"database": {
										"value": "@pipeline().parameters.targetdbname",
										"type": "Expression"
									},
									"dbservername": {
										"value": "@pipeline().parameters.servername",
										"type": "Expression"
									},
									"username": {
										"value": "@pipeline().parameters.username",
										"type": "Expression"
									},
									"password": {
										"value": "@pipeline().parameters.password",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"additionalColumns": [
												{
													"name": "MGT_InsertBatchRunId",
													"value": "200"
												},
												{
													"name": "MGT_InsertDate",
													"value": {
														"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy')",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "@{item().src_extract_query}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{item().tgt_truncate_query}",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"validateDataConsistency": true,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": false,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_dynamic_tbl",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@{item().src_schema}",
													"type": "Expression"
												},
												"table": "@{item().src_tbl}",
												"database": "@{item().src_db}",
												"dbservername": {
													"value": "@pipeline().parameters.servername",
													"type": "Expression"
												},
												"username": {
													"value": "@pipeline().parameters.username",
													"type": "Expression"
												},
												"password": {
													"value": "@pipeline().parameters.password",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_dynamic_tbl",
											"type": "DatasetReference",
											"parameters": {
												"schema": "@{item().tgt_schema}",
												"table": "@{item().tgt_tbl}",
												"database": "@{item().tgt_db}",
												"dbservername": {
													"value": "@pipeline().parameters.servername",
													"type": "Expression"
												},
												"username": {
													"value": "@pipeline().parameters.username",
													"type": "Expression"
												},
												"password": {
													"value": "@pipeline().parameters.password",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"servername": {
						"type": "string",
						"defaultValue": "milesdwh.database.windows.net"
					},
					"username": {
						"type": "string",
						"defaultValue": "trp86"
					},
					"password": {
						"type": "string",
						"defaultValue": "Daimler2022"
					},
					"sourcedbname": {
						"type": "string",
						"defaultValue": "src"
					},
					"targetdbname": {
						"type": "string",
						"defaultValue": "dwh_stg"
					},
					"sourcedbschema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"targetdbschema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"extract_sp": {
						"type": "string",
						"defaultValue": "dbo.ExtractQueries"
					},
					"sp_InsertPackageExecutionLog": {
						"type": "string",
						"defaultValue": "USP_InsertPackageExecutionLog"
					},
					"mgtdbname": {
						"type": "string",
						"defaultValue": "dwh_mgt"
					},
					"auditschema": {
						"type": "string",
						"defaultValue": "Audit"
					}
				},
				"variables": {
					"x": {
						"type": "String"
					},
					"V_packageexecid": {
						"type": "String",
						"defaultValue": "placeholder"
					},
					"V_PackageExecutionLogId": {
						"type": "String",
						"defaultValue": "placeholder"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_dynamic_tbl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_stored_proc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_generic",
							"type": "LinkedServiceReference",
							"parameters": {
								"databasename": "dwh_mgt",
								"username": "trp86",
								"password": "Daimler2022",
								"dbservername": "milesdwh.database.windows.net"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "PackageName",
											"type": "String",
											"value": "placeholder",
											"direction": "Input"
										},
										{
											"name": "BatchRunId",
											"type": "Int64",
											"value": "211",
											"direction": "Input"
										},
										{
											"name": "PackageGUID",
											"type": "String",
											"value": "placeholder",
											"direction": "Input"
										},
										{
											"name": "ETLType",
											"type": "String",
											"value": "placeholder",
											"direction": "Input"
										},
										{
											"name": "SSISDBPackageExecutionId",
											"type": "Int64",
											"value": "32",
											"direction": "Input"
										},
										{
											"name": "RC",
											"type": "Int64",
											"value": "45",
											"direction": "Output"
										}
									],
									"type": "Query",
									"text": "\n\nEXECUTE @RC = [Audit].[USP_InsertPackageExecutionLog] \n   @PackageName\n  ,@BatchRunId\n  ,@PackageGUID\n  ,@ETLType\n  ,@SSISDBPackageExecutionId\n\nselect @RC as PackageExecutionLogId\n"
								}
							]
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Script1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PackageExecutionLogId",
							"value": {
								"value": "@string(activity('Script1').output.resultSets[0].rows[0].PackageExecutionLogId)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"V_PackageExecutionLogId": {
						"type": "String",
						"defaultValue": "placeholder"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_generic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dynamic_tbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_generic",
					"type": "LinkedServiceReference",
					"parameters": {
						"databasename": {
							"value": "@dataset().database",
							"type": "Expression"
						},
						"username": {
							"value": "@dataset().username",
							"type": "Expression"
						},
						"password": {
							"value": "@dataset().password",
							"type": "Expression"
						},
						"dbservername": {
							"value": "@dataset().dbservername",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "placeholder"
					},
					"table": {
						"type": "string",
						"defaultValue": "placeholder"
					},
					"database": {
						"type": "string",
						"defaultValue": "placeholder"
					},
					"dbservername": {
						"type": "string",
						"defaultValue": "placeholder"
					},
					"username": {
						"type": "string",
						"defaultValue": "placeholder"
					},
					"password": {
						"type": "string",
						"defaultValue": "placeholder"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_generic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_generic')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"databasename": {
						"type": "string",
						"defaultValue": "placeholder"
					},
					"username": {
						"type": "string",
						"defaultValue": "placeholder"
					},
					"password": {
						"type": "string",
						"defaultValue": "placeholder"
					},
					"dbservername": {
						"type": "string",
						"defaultValue": "placeholder"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_generic_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_hello_world')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}